body {

    font-family: 'Montserrat', sans-serif;
    margin: 0px 0px 0px 0px;
}

/* fist section styling starts*/

.first-heading {
    font-size: 90px;
    margin-top: -10px;
    padding-right: 10px;
    margin-right: 20px;
    margin-bottom: 100px;
}

.dim-grey-text-color {
    color: dimgrey;
    margin-bottom: 100px;

}

.first-section {
    display: flex;
    vertical-align: middle;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}

.first-section-width {
    width: 50%;
    margin-left: 50px;
    vertical-align: middle;

}

.first-section-width img {
    width: 100%;
    margin-left: -20px;
}

.first-section-width p {
    font-size: 30px;
}

h1 span {
    color: orange;
}

.button {
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 20px 40px;
    border-radius: 50px;
    color: white;
    font-weight: 700;
}


/* fist section styling ends*/

/* second section styling starts*/

.second-section {
    display: flex;
    color: dimgray;
    padding-left: 10%;
    padding-right: 10%;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 100px;
}

.second-section-width {
    width: 40%;
    margin-left: 10%;
    padding-top: 8%;
}

.second-section-width p {
    font-size: 18px;
}

img {
    width: 70%;
}

.para-two {
    margin-bottom: 100px;
}

/* second section styling ends*/

/* third section styling startss*/

h2 {
    font-size: 50px;

}

.texts-one {
    font-size: 18px;
    color: dimgray;
    text-align: center;
    padding: 0px 500px 0px 500px;
}

/* third section styling ends*/

/* fourth section styling starts*/

.boxes {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}

.box-design {
    margin: 20px;
    width: 50%;
    border: 1px;
    padding: 30px;
    box-shadow: 0px 0px 30px rgb(194, 193, 193);
    border-radius: 50px;
}

.box-design img {
    width: 100%;
    border-radius: 20px;
}

h3 {
    font-weight: bold;
}

.para-four {
    margin-bottom: 20px;
    font-size: 18px;
}

/* fourth section styling ends*/

/* fith section styling starts*/

.visitor-count {
    display: flex;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 100px;
    box-shadow: 0px 0px 20px rgb(163, 161, 161);
    border-radius: 20px;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.social {
    width: 30%;
}

.par-four {
    margin-top: 0px;
}

/* fith section styling ends*/
footer span {
    color: orange;
}

#fresh {
    color: gray;
}

footer p {
    color: white;
}

footer {
    text-align: center;
    background-color: black;
    margin-bottom: 0px;
    padding: 30px;
}